

# ALLGEMEIN ....................................................
# Gitignore bezieht sich nur auf Dateinen vor dem Adden.
# Sobald Dateien zum Commiten geadded wurden, sieht sie gitignore nicht.

# Dateien nach add wieder ausschliessen
# git reset HEAD **/<directory>/*

# Dateiformate
*~
*qar
*bak
*qws
*kpt
*done
*rpt
*summary
*smsg
*jdi





# SYNTHESE.........................................................

**/**/incremental_db/*
**/**/db/*
**/**/output_files/*






